/* SPACES FEATURES */
table.spaces-features tr.enabled {
  background: #cf8;
  border-color:#8c4;
  }

table.spaces-features tr.disabled {
  background: #eee;
  color:#999;
  }

table.spaces-features tr.locked td.name {
  background:url(images/lock.gif) 5px 50% no-repeat;
  padding-left:30px;
  }

table.spaces-admin td.actions {
  padding-top:10px; padding-bottom:10px;
  text-align:center;
  }

table.spaces-admin tr.disabled {
  color:#999;
  }

table.spaces-admin tr.hidden {
  display:none;
  }
