#block-spaces_shoutbox-1 p,
#block-spaces_shoutbox-1 .shout,
#block-spaces_shoutbox-1 form#spaces-shoutbox-ajaxform {
  padding: 5px 8px;}

#block-spaces_shoutbox-1 form#spaces-shoutbox-ajaxform {
  text-align:center;}

#block-spaces_shoutbox-1 form#spaces-shoutbox-ajaxform * {
  display:inline;}
